.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

.content {
  display: flex;
  justify-content: center;
}

.item {
  align-self: center;
  flex-grow: 1;
  object-fit: cover;
}
