.image-selector {
    margin-bottom: 10px;
  }
  
  .sliding-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .select-button,
  .move-button,
  .rotate-button {
    padding: 8px 16px;
    margin-right: 10px;
  }
  
  .node-info {
    margin-left: 10px;
  }
  