.sidebar-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%; /* Make sure it spans the full height */
}


.sidebar {
  display: flex;
  position: absolute; /* or absolute depending on your layout needs */
  z-index: 1;
  flex-direction: column;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  transition: all 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 10px 20px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.sidebar nav ul li:hover {
  background-color: #ddd;
}

/* Set the width of the main content area based on the sidebar state */

.main-content {
  margin-left: 0;
  width: calc(100% - 300px);
}


.sidebar.open~.main-content {
  margin-left: 300px;
  top: 5%;
  width: calc(100% - 300px);
}

.toggle-button {
  font-size: 15px;
  position: absolute;
  right: -15px;  /* width of the button */
  top: 0;
  width: 15px; /* set width as per your requirement */
  height: 50px;
  z-index: 2;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  background-color: rgba(34, 34, 34, 0.5);
}

.toggle-button:hover {
  background-color: rgba(51, 51, 51); /* Darken color on hover */
}

.toggle-button:focus {
  outline: none; /* Remove focus outline */
}