.sidebar-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}


.sidebar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  flex-direction: column;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  transition: all 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
  height: 100%;
}

.sidebar h2 {
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 10px 20px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.sidebar nav ul li:hover {
  background-color: #ddd;
}

.main-content {
  margin-left: 0;
  width: calc(100% - 250px);
}


.sidebar.open~.main-content {
  margin-left: 250px;
  top: 5%;
  width: calc(100% - 250px);
}

.toggle-button {
  font-size: 15px;
  position: absolute;
  right: -15px;
  bottom: 5vh;
  width: 15px;
  height: 25px;
  z-index: 2;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  background-color: purple;
}

.toggle-button:hover {
  background-color: rgba(51, 51, 51);
}

.toggle-button:focus {
  outline: none; 
}