cashew==0.4.1
Flask==2.2.3
Flask_Cors==3.0.10
flask_sqlalchemy==3.0.5
matplotlib==3.7.1
mne==1.4.0
mne_bids==0.12
moviepy==1.0.3
networkx==3.1
numpy==1.24.2
pandas==2.0.1
plotly==5.14.1
pytest==7.3.2
scipy==1.11.1
statsmodels==0.14.0
